footer {
  color: white;
  .main-footer {
    padding: 3% 0;
    text-align: center;
    background-color: $gray-2;
    h3 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.2rem;
      padding-top: 32px;

    }
    a.primary-button {
      display: inline-block;
      margin: 24px 0 42px;
    }
  }
  .secondary-footer {
    font-size: .8rem;
    background-color: $gray-1;
    color: $gray-3;
    padding: 4px 0;
    text-align: center;
    #copyright-credits {
      span {
        padding: 0 8px;
      }
    }
  }
}
