

//== Colors


//Greenlife Website Brand Colors 1 = Darkest 4 = Lightest

$gray-1: #232323;
$gray-2: #606960;
$gray-3: #C7CEC7;
$gray-4: #EDF4ED;

$green-1: #006838;
$green-2: #2AB776;
$green-3: #8DDEB9;
$green-4: #DAF7EA;

$red-1: #CC3B3B;
$red-2: #E83939;
$red-3: #E08989;
$red-4: #F7C3C3;

$blue-1: #3084E5;
$blue-2: #3190FD;
$blue-3: #87B7EF;
$blue-4: #C6E0FD;

$yellow-1: #FFD300;
$yellow-2: #FFEB00;
$yellow-3: #FDF29E;
$yellow-4: #FFFAD1;

$background:                #fff;
$text-color:                $gray-1;





//== Typography

//** Arvo
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');


//** Woodford Bourne
@font-face {
  font-family: "Woodford Bourne Bold";
  src: url(../fonts/woodfordbourne-bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Woodford Bourne Italic";
  src: url(../fonts/woodfordbourne-italic.otf);
  font-weight: italic;
}

//** PT Mono
@font-face {
  font-family: "PT Mono Regular";
  src: url(../fonts/PT-Mono-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "PT Mono Bold";
  src: url(../fonts/PT-Mono-Bold.ttf);
  font-weight: bold;
}

$body-headings: "Woodford Bourne Bold", sans-serif;
$body-copy: Arvo;
$body-link: "PT Mono Bold";

$font-headings:             inherit;
$font-size-base:            16px;
$font-size-h1:              5rem;
$font-size-h2:              3.5rem;
$font-size-h3:              1.2rem;


//== Nav Height
//
//##
$nav-height: 127px;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                 480px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:             $screen-xs;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:              $screen-xs-min;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                 768px;
$screen-sm-min:             $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:             $screen-sm-min;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                 992px;
$screen-md-min:             $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:            $screen-md-min;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                 1200px;
$screen-lg-min:             $screen-lg;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:         $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:             ($screen-sm-min - 1);
$screen-sm-max:             ($screen-md-min - 1);
$screen-md-max:             ($screen-lg-min - 1);
