#home {
  //padding:  0;
  //height: 120vh; //TODO: Delete later

  section {
    padding: 2% 8%;
    margin: 0 auto;
    .section-image {
      float: left;
      width: 45%;
      height: 20%;
    }
    .text {
      float: left;
    }
  }
  .card {
    display: inline-block;
    padding: 24px 42px;
    border: 5px solid $brand-4;
    border-radius: 7px;
    text-align: left;
    h2 {
      font-size: $font-size-h3;
      text-transform: uppercase;
    }
    p {
      padding: 0;
    }
    .text {
      float: none;
      display: inline-block;
      vertical-align: top;
    }
    .icon {
      width: 92px;
      height: 92px;
      background-color: gray;
    }
  }

  #grand-opening {
    height: calc(100vh - #{$nav-height});
    padding-top: #{$nav-height};
    padding-bottom: 0;
    background-color: lightblue;
    .content {
      text-align: center;
      margin: 32px auto;
      #info-cards {
        margin: 32px auto;
      }
      #scroll-down {
        position: absolute;
        bottom: 4%;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
      }
    }
  }

  #live-music {
    height: 300px;
    background: blue;
  }

  #yoga {
    .section-image {
      float: right;
    }
    .text {
      float: right;
      text-align: right;
    }
    height: 300px;
    background: purple;
  }

  #other-list {
    height: 300px;
    background: yellow;
    ul {
      list-style: none;
      li {
        h2 {
          // TODO: Italic
          span {
            color: red;
          }
        }
      }
    }
    #twentysix-acres-logo {
      //TODO: size
    }
  }

  #veterans {
    text-align: center;
    #purple-heart-homes-logo {
      //TODO: size
    }
  }
}
