@import url("https://fonts.googleapis.com/css?family=Arvo:400,700");
@font-face {
  font-family: "Woodford Bourne Bold";
  src: url(../fonts/woodfordbourne-bold.otf);
  font-weight: bold; }

@font-face {
  font-family: "Woodford Bourne Italic";
  src: url(../fonts/woodfordbourne-italic.otf);
  font-weight: italic; }

@font-face {
  font-family: "Woodford Bourne Regular";
  src: url(../fonts/woodfordbourne-regular.otf);
  font-weight: normal; }

@font-face {
  font-family: "PT Mono Regular";
  src: url(../fonts/PT-Mono-Regular.ttf);
  font-weight: normal; }

@font-face {
  font-family: "PT Mono Bold";
  src: url(../fonts/PT-Mono-Bold.ttf);
  font-weight: bold; }

p {
  margin: 0; }

body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    margin: 0;
    padding: 0; }

body {
  color: #232323;
  background-color: #fff;
  font-family: Arvo;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Woodford Bourne Bold", sans-serif; }

h1 {
  font-size: 5rem;
  text-transform: uppercase; }

h2 {
  font-size: 3.5rem;
  text-transform: uppercase; }

h3 {
  font-size: 1.2rem;
  text-transform: uppercase; }

p {
  font-family: Arvo;
  padding: 12px 0; }

a {
  color: #3084E5;
  font-family: "PT Mono Bold";
  text-decoration: none; }

@media all and (max-width: 1280px) {
  #info-cards {
    width: 50%;
    margin: 0 auto; }
    #info-cards .card {
      max-width: 300px;
      margin: 32px auto !important;
      display: block !important; } }

@media all and (max-width: 736px) {
  #nav .logo {
    height: 42px !important; }
  #home #grand-opening {
    width: 100%;
    height: 200vh !important;
    background-image: none !important; } }

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.85); }
  #nav .nav-content {
    opacity: 1;
    padding: 0 8%;
    height: 127px; }
  #nav .logo {
    height: 75px;
    position: relative;
    top: 50%;
    transform: translateY(-52%); }
  #nav .inline-content {
    position: relative;
    top: 50%;
    float: right;
    transform: translateY(-52%); }

footer {
  color: white; }
  footer .main-footer {
    padding: 3% 0;
    text-align: center;
    background-color: #606960; }
    footer .main-footer h3 {
      font-size: 1.5rem; }
    footer .main-footer p {
      font-size: 1.2rem;
      padding-top: 32px; }
    footer .main-footer a.primary-button {
      display: inline-block;
      margin: 24px 0 42px; }
  footer .secondary-footer {
    font-size: .8rem;
    background-color: #232323;
    color: #C7CEC7;
    padding: 4px 0;
    text-align: center; }
    footer .secondary-footer #copyright-credits span {
      padding: 0 8px; }

.primary-button {
  text-transform: uppercase;
  padding: 15px 22px;
  color: #EDF4ED;
  background-color: #3084E5;
  border: 3px solid #87B7EF;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.2s; }
  .primary-button:hover {
    border: 3px solid #3084E5; }

#home section {
  padding: 4% 0;
  margin: 0 auto; }
  #home section .section-image {
    float: left;
    width: 45vw; }
    #home section .section-image img {
      width: 40vw;
      border-top-right-radius: 24px;
      border-bottom-right-radius: 24px; }
  #home section .text {
    float: left;
    width: 50%; }
    #home section .text div {
      padding-top: 18%; }
  #home section:after {
    display: block;
    content: "";
    clear: both; }
  #home section h2 span {
    font-family: "Woodford Bourne Italic" !important; }

@keyframes Intro {
  0% {
    opacity: 0;
    margin-top: 10vh; }
  100% {
    opacity: 1.0;
    margin-top: 0; } }

#home .card {
  opacity: 0;
  animation-name: Intro;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-duration: 1s;
  box-shadow: 6px 6px 0px #606960;
  display: inline-block;
  padding: 24px;
  min-width: 300px;
  margin-right: 40px;
  border-radius: 7px;
  text-align: left;
  background-color: white;
  transition: all .25s;
  margin-top: 0; }
  #home .card:hover {
    box-shadow: 0px 0px 0px #606960; }
  #home .card h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 8px; }
  #home .card p {
    padding: 0; }
  #home .card a {
    color: #232323; }
    #home .card a p.cta {
      display: inline-block;
      font-family: "PT Mono Bold" !important;
      color: #3190FD !important;
      margin-top: 8px;
      padding-bottom: 3px;
      border-bottom: 2px solid #3190FD; }
  #home .card .desc {
    display: inline-block;
    vertical-align: top; }
  #home .card .icon {
    float: left;
    width: 92px;
    height: 92px;
    margin-right: 32px; }

#home #grand-opening {
  height: calc(100vh - 127px);
  padding-top: 200px;
  background-color: #EDF4ED;
  padding-bottom: 0;
  background-repeat: no-repeat;
  background-position-y: -150px;
  background-size: cover;
  background-image: url("../img/header_edit3.jpg"); }
  #home #grand-opening .content {
    opacity: 0;
    animation-name: Intro;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: .75s;
    text-align: center;
    margin: 32px auto; }
    #home #grand-opening .content #info-cards {
      margin: 32px auto; }
    #home #grand-opening .content h1 {
      font-size: 7rem;
      color: #EDF4ED;
      text-shadow: 8px 8px 0px #232323; }
    #home #grand-opening .content p.main-text {
      font-family: "Woodford Bourne Regular", sans-serif;
      font-size: 1.7rem;
      color: white; }
    #home #grand-opening .content #scroll-down {
      color: #EDF4ED;
      text-shadow: 2px 2px 0px #232323;
      opacity: 0;
      animation-name: Intro;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      animation-delay: 1.5s;
      font-size: 1.5rem;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 200px; }

#home #live-music p.band-list {
  text-transform: uppercase;
  padding-bottom: 0; }
  #home #live-music p.band-list:nth-of-type(1) {
    font-size: 1.7rem;
    font-weight: 700; }
  #home #live-music p.band-list:nth-of-type(2) {
    font-size: 1.2rem;
    font-weight: 700; }

#home #yoga .section-image {
  float: right; }
  #home #yoga .section-image img {
    float: right;
    border-radius: 0;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px; }

#home #yoga .text {
  float: right;
  text-align: right; }

#home #other-list .text div {
  padding-top: 6%; }

#home #other-list ul {
  list-style: none; }
  #home #other-list ul li {
    padding-bottom: 24px; }
    #home #other-list ul li h2 span {
      color: #2AB776;
      margin-right: 32px; }
    #home #other-list ul li p {
      padding-left: 64px; }
    #home #other-list ul li p img {
      vertical-align: middle;
      padding: 0 12px; }
    #home #other-list ul li p.featured-vendor {
      height: 130px;
      line-height: 130px;
      vertical-align: middle; }

#home #other-list #twentysix-acres-logo {
  max-width: 130px; }

#home #veterans {
  padding: 12% 0 6%;
  text-align: center; }
  #home #veterans p {
    padding: 5% 0 2% 0; }
  #home #veterans #purple-heart-homes-logo {
    max-width: 320px; }
