//== Scaffolding
//
//## Settings for some of the most global styles.

body {
  color: $text-color;
  background-color: $background;
  font-family: $body-copy;
  font-size: $font-size-base;
}

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

h1, h2, h3, h4, h5, h6 {
  font-family: $body-headings;
}
h1 {
  font-size: $font-size-h1;
  text-transform: uppercase;
}
h2 {
  font-size: $font-size-h2;
  text-transform: uppercase;
}
h3 {
  font-size: $font-size-h3;
  text-transform: uppercase;
}

p {
  font-family: $body-copy;
  padding: 12px 0;
}
a {
  color: $blue-1;
  font-family: $body-link;
  text-decoration: none;
}


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone

// Small screen / tablet

// Medium screen / desktop

// Large screen / wide desktop


// So media queries don't overlap when required, provide a maximum


@media all and (max-width: 1690px) {
}
@media all and (max-width: 1280px) {
  #info-cards {
    width: 50%;
    margin: 0 auto;
    .card {
      max-width: 300px;
      margin: 32px auto !important;
      display: block !important;
    }
  }
}
@media all and (max-width: 980px) {
}
@media all and (max-width: 736px) {
  #nav {
    .logo {
      height: 42px !important;
    }
  }
  #home {
    #grand-opening {
      width: 100%; //not sure why this isn't working
      height: 200vh !important;
  }
    #scroll-down{
      display:contents;
    }
    .section-image {
      //float: none;
    }
}
}
@media all and (max-width: 480px) {

}
