//== Scaffolding
//
//## Settings for some of the most global styles.

body {
  color: $text-color;
  background-color: $background;
  font-family: $body-copy;
  font-size: $font-size-base;
}

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

h1, h2, h3, h4, h5, h6 {
  font-family: $body-headings;
}
h1 {
  font-size: $font-size-h1;
  text-transform: uppercase;
}
h2 {
  font-size: $font-size-h2;
  text-transform: uppercase;
}
h3 {
  font-size: $font-size-h3;
  text-transform: uppercase;
}

p {
  font-family: $body-copy;
  padding: 12px 0;
}
a {
  color: $blue-1;
  font-family: $body-link;
  text-decoration: none;
}
